<div class="flex flex-col h-dvh w-full gap-1 items-center justify-center">
  <h1 class="font-medium text-3xl">
    {{ 'templates.404.title' | t }}
  </h1>
  <a href="{{ routes.all_products_collection_url }}" class="underline underline-offset-2">
    {{ 'general.continue_shopping' | t }}
  </a>
</div>
