{%- liquid
  assign displayed_products_count = 0
  assign product_count = product.recommendations | size
  assign max_products = section.settings.limit | at_most: product_count

  assign grid_cols = 1
  if max_products > 1
    assign grid_cols = 2
  endif
  if max_products > 2
    assign grid_cols = 3
  endif
  if max_products > 3
    assign grid_cols = 4
  endif
-%}

{%- if product.recommendations.size > 0 -%}
  <div class="bg-{{section.settings.color_scheme}} max-w-[1366px] mx-auto p-6">
    <div class="max-w-[1046px] mx-auto 2xl:max-w-[1380px] w-full">
      <div class="flex flex-col gap-[48px]">
        <h2 class="font-display text-headline-small">
          {{ 'sections.related_products.title' | t }}
        </h2>

        <div class="flex flex-col gap-8">
          <div class="grid grid-cols-2 gap-x-[16px] gap-y-[24px] md:grid-cols-3 lg:grid-cols-4">
            {%- for recommended_product in product.recommendations -%}
              {%- if forloop.index <= section.settings.limit -%}
                {% render 'product-card', product: recommended_product, color_scheme: section.settings.color_scheme %}
                {%- assign displayed_products_count = displayed_products_count | plus: 1 -%}
              {%- endif -%}
            {%- endfor -%}
          </div>

          {%- if section.settings.show_view_all -%}
            <div class="flex justify-center">
              {% render 'button',
                text: section.settings.view_all_text,
                variant: section.settings.button_variant,
                content_color_scheme: section.settings.color_scheme,
                href: '/products'
              %}
            </div>
          {%- endif -%}
        </div>
      </div>
    </div>
  </div>
{%- endif -%}

{% schema %}
{
  "name": "Related products",
  "settings": [
    { "type": "range", "id": "limit", "label": "Products to show", "min": 1, "max": 12, "step": 1, "default": 3 },
    { "type": "checkbox", "id": "show_view_all", "label": "Show 'View all' button", "default": true },
    { "type": "text", "id": "view_all_text", "label": "'View all' button text", "default": "View all" },
    {
      "type": "select",
      "id": "button_variant",
      "label": "Button style",
      "options": [
        { "value": "solid", "label": "Solid" },
        { "value": "outline", "label": "Outline" }
      ],
      "default": "solid"
    },
    { "type": "color_scheme", "id": "color_scheme", "label": "Color scheme", "default": "scheme-1" }
  ]
}
{% endschema %}
