{% if link and link.links.size > 0 %}
  <div class="cascading-menu">
    {% for child_link in link.links %}
      <div class="cascading-menu-item {% if child_link.links.size > 0 %}has-children{% endif %}">
        <a href="{{ child_link.url }}" class="font-normal leading-[20px]">
          {{ child_link.title | escape }}
        </a>
        {% if child_link.links.size > 0 %}
          <ion-icon name="chevron-down-outline" class="chevron-icon"></ion-icon>
          <div class="cascading-submenu">
            {% for grandchild_link in child_link.links %}
              <div class="cascading-menu-item">
                <a href="{{ grandchild_link.url }}" class="font-normal leading-[20px]">
                  {{ grandchild_link.title | escape }}
                </a>
              </div>
            {% endfor %}
          </div>
        {% endif %}
      </div>
    {% endfor %}
  </div>
{% endif %}
