<a class="inline-flex items-center gap-16 before:inline-flex before:items-center before:w-16 before:h-16 before:border before:border-black before:hover:bg-gray-100 transition-colors cursor-pointer !no-underline">
  {{- text | escape -}}
</a>
