<a class="inline-flex items-center gap-4 before:inline-flex before:items-center before:w-4 before:h-4 before:border before:border-black before:hover:bg-gray-100 transition-colors cursor-pointer !no-underline">
  {{- text | escape -}}
</a>
