{%- if icon != 'none' -%}
  {%- assign file = icon | replace: '_', '-' | prepend: 'icon-' | append: '.svg' -%}
  <span class="svg-wrapper w-20 h-20">{{ file | inline_asset_content }}</span>
{%- endif -%}
