<div class="relative size-70 aspect-square rounded">
  {% if item.image %}
    {% render 'image',
      image: item.image,
      alt: item.image.alt,
      class: 'object-contain w-full h-full'
    %}
  {% else %}
    {% render 'image',
      picture_class: 'svg-placeholder',
      placeholder: 'product-apparel-1' | placeholder_svg_tag: 'placeholder-svg'
    %}
  {% endif %}
</div>
