{%- liquid
  assign border_b = section.settings.border_b
-%}

<div class="mega-menu-grid">
  {% for child_link in current_link.links %}
    <div class="mega-menu-category">
      <a href="{{ child_link.url }}" class="mega-menu-category-title">
        {{ child_link.title }}
      </a>
      {% if child_link.links.size > 0 %}
        <div class="mega-menu-links">
          {% for grandchild in child_link.links %}
            <a href="{{ grandchild.url }}" class="mega-menu-link">
              {{ grandchild.title }}
            </a>
          {% endfor %}
        </div>
      {% endif %}
    </div>
  {% endfor %}
</div>

{% schema %}
{
  "name": "Mega Menu",
  "settings": [
    {
      "type": "header",
      "content": "Layout"
    },
    {
      "type": "checkbox",
      "id": "show_images",
      "label": "Show product images",
      "default": true
    }
  ]
}
{% endschema %}
