<popover-root class="relative">
  <popover-trigger
    role="button"
    class="flex items-center gap-3 underline decoration-transparent underline-offset-2 transition-colors text-xs decoration-accent-hover-{{ color_scheme }}"
  >
    <ion-icon name="share-outline" aria-hidden="true" class="inline-flex h-4 w-4"></ion-icon>
    {{ 'general.share' | t }}
  </popover-trigger>
  <popover-content
    class="absolute top-0 left-0 rounded max-w-max hidden shadow bg-white"
    role="popover"
  >
    <div class="flex items-center px-2.5 py-2 gap-1 text-xxs">
      {{ content }}
    </div>
    <popover-arrow class="absolute w-2 h-2 rotate-45 bg-white"></popover-arrow>
  </popover-content>
</popover-root>
