{% comment %}
  Renders a list of filter accordions for collection filtering.

  Accepts:
  - filters: {Array} List of filter objects (e.g. price, options, tags).
  - color_scheme: {String} Optional. Passed to the input renderer.

  Behavior:
  - Each filter is rendered as an <accordion-item>.
  - If a filter has active values, its accordion is expanded and count is shown.
  - Delegates filter input rendering to the 'filter-input' snippet.

  Usage:
  {% render 'product-filter-inputs', filters: collection.filters, color_scheme: section.settings.color_scheme %}
{% endcomment %}

<accordion-root
  id="product-filter-inputs"
  class="flex flex-col w-full sm:w-264 gap-20"
>
  {% for filter in filters %}
    {% liquid
      assign active_filter_count = 0

      case filter.type
        when 'price_range'
          if filter.min_value.value or filter.max_value.value
            assign active_filter_count = active_filter_count | plus: 1
          endif
        else
          if filter.active_values.size > 0
            assign active_values_count = filter.active_values | size
            assign active_filter_count = active_filter_count | plus: active_values_count
          endif
      endcase
    %}

    <accordion-item
      class="flex flex-col gap-14 group"
      {% if active_filter_count > 0 %}
       aria-expanded="true"
      {% endif %}
    >
      <accordion-trigger class="flex justify-between text-title-small font-semibold whitespace-nowrap">
        <span
          id="filter-label-{{ filter.param_name }}"
          class="whitespace-nowrap"
          hx-swap-oob="true"
        >
          {{ filter.label }}
          {% if active_filter_count > 0 %}
            ({{ active_filter_count }})
          {% endif %}
        </span>
        <ion-icon
          name="chevron-down-outline"
          aria-label="{{ 'general.accordion.toggle' | t }}"
          class="h-20 w-20 group-aria-expanded:rotate-180"
        ></ion-icon>
      </accordion-trigger>
      <accordion-content class="text-body-medium">
        {% render 'filter-input',
          filter: filter,
          color_scheme: color_scheme
        %}
      </accordion-content>
    </accordion-item>
  {% endfor %}
</accordion-root>
