{%- liquid
  assign first_variant = product.variants.first.id
  assign variant = product.selected_or_first_available_variant
-%}

{% form 'product', product, class: 'flex flex-col w-full' %}
  {% render 'variant-radio', product: product %}
  {%- if variant.available -%}
    {%- if cart_type == 'drawer' -%}
      {% render 'cart-drawer-button', variant_id: variant %}
    {%- else -%}
      <input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}">
      {% render 'button', type: 'submit', text: 'Add to cart', class: 'add-to-cart-button' %}
    {%- endif -%}
  {%- else -%}
    <span class="text-[#B3261E] font-display text-body-small">Currently unavailable</span>
  {%- endif -%}
{% endform %}
