<div class="flex flex-col gap-[8px]">
  <h1 id="recover" tabindex="-1" class="font-display text-headline-medium">Reset password</h1>
  <p class="font-display text-body-large">We will send you an email to reset your password</p>
</div>
<div class="w-full">
  {%- form 'recover_customer_password' -%}
    {% assign recover_success = form.posted_successfully? %}
    <div class="field">
      {% comment %}
        <input
          type="email"
          name="email"
          id="RecoverEmail"
          autocorrect="off"
          autocapitalize="off"
          autocomplete="email"
          {% if form.errors %}
            aria-invalid="true"
            aria-describedby="RecoverEmail-email-error"
            autofocus
          {% endif %}
          placeholder="Email"
        >
      {% endcomment %}
      {% render 'input',
        type: 'email',
        name: 'email',
        id: 'RecoverEmail',
        autocomplete: 'email',
        placeholder: 'Email',
        invalid: form.errors,
        error_id: 'RecoverEmail-email-error',
        autofocus: form.errors,
        variant: 'account'
      %}
    </div>
    {%- if form.errors -%}
      <small id="RecoverEmail-email-error" class="form__message">
        <span class="svg-wrapper">
          {{- 'icon-error.svg' | inline_asset_content -}}
        </span>
        {{ form.errors.messages.form }}
      </small>
    {%- endif -%}

    <div class="flex gap-[16px] sm:gap-[32px] items-center justify-end mt-[32px] flex-col-reverse sm:flex-row">
      <div class="flex items-center justify-center gap-1">
        <a
          href="{{ routes.account_login_url }}"
          class="font-display text-body-medium underline underline-offset-2"
        >
          Cancel
        </a>
      </div>
      <div class="sm:w-[99px] w-full">
        {% render 'button',
          type: 'submit',
          text: 'Submit',
          color_scheme: color_scheme,
          variant: 'secondary'
        %}
      </div>
    </div>
  {%- endform -%}

  {%- if recover_success == true -%}
    <h3 class="form__message" tabindex="-1" autofocus>
      <span class="svg-wrapper">
        {{- 'icon-success.svg' | inline_asset_content -}}
      </span>
      Success
    </h3>
  {%- endif -%}
</div>
