<div class="standard-dropdown absolute top-full bg-white shadow-lg overflow-hidden opacity-0 invisible group-hover:opacity-100 group-hover:visible transition-all duration-200 z-50">
  <div>
    {% for link in links %}
      <div class="{% unless forloop.last %}pb-[32px]{% endunless %}">
        <a
          href="{{ link.url }}"
          class="block font-medium whitespace-nowrap font-display leading-[22px]"
        >
          {{ link.title | escape }}
        </a>
      </div>
    {% endfor %}
  </div>
</div>
