@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  display: grid;
  grid-template-rows: auto 1fr auto auto;
  grid-template-columns: 100%;
  min-height: 100vh;
}

/* Buttons */

.btn {
  @apply inline-flex items-center justify-center px-4 py-3 !no-underline;
}

/* Icons */

ion-icon {
  @apply text-base/4;
}

/* Customers */

#login, #recover {
  scroll-margin-top: 20rem;
}

#recover {
  display: none;
}

#recover:target {
  display: block;
}

#recover:target ~ #login {
  display: none;
}

/* Long text wrapping */

.fr-view, span[data-swell-inline-editable], section {
  overflow-wrap: anywhere;
}
